Welcome to the Global Renaissance Project! 

This site visualizes how English writers wrote about other nations during the Renaissance, from 1500-1750. To see the data, take a look at our <a href="/map">map</a> or our <a href="/lda">topics model</a>. You can also download our datasets from the <a href="/downloads">downloads page</a>.